{
    "openapi": "3.0.3",
    "info": {
      "title": "kigaluxe",
      "description": "This is a simple API documentation for kigaluxe real estate co.",
      "contact": {
        "email": "ngogaadolphe@gmail.com"
      }
    },
    "servers": [
    {
      "url": "https://backend.kigaluxe.estate",
      "description": "production server"
    },
    {
      "url": "https://kigaluxe-listing-jow3.onrender.com",
      "description": "Staging server"
    },
    {
      "url": "http://localhost:3000/",
      "description": "Local development server"
    }
  ],
  
  "paths": {
    "/api/auth/signup": {
      "post": {
        "summary": "Sign up a new user",
        "description": "Creates a new user account with the provided details and returns a JWT token.",
        "tags": ["Authentication"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "lastname": {
                    "type": "string",
                    "example": "Doe"
                  },
                  "firstname": {
                    "type": "string",
                    "example": "John"
                  },
                  "email": {
                    "type": "string",
                    "format": "email",
                    "example": "john.doe@example.com"
                  },
                  "gender": {
                    "type": "string",
                    "example": "Male"
                  },
                  "address": {
                    "type": "string",
                    "example": "123 Main St, Anytown"
                  },
                  "dob": {
                    "type": "string",
                    "format": "date",
                    "example": "1990-01-01"
                  },
                  "phoneNumber": {
                    "type": "string",
                    "example": "+1234567890"
                  },
                  "profileImg": {
                    "type": "string",
                    "format": "uri",
                    "nullable": true,
                    "example": "https://example.com/profile.jpg"
                  },
                  "isVerified": {
                    "type": "boolean",
                    "example": false
                  },
                  "password": {
                    "type": "string",
                    "format": "password",
                    "example": "strongpassword123"
                  }
                },
                "required": ["lastname", "firstname", "email", "password"]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "User created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "201"
                    },
                    "message": {
                      "type": "string",
                      "example": "User created successfully"
                    },
                    "user": {
                      "$ref": "#/components/schemas/User"
                    },
                    "token": {
                      "type": "string",
                      "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Email already exists",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "401"
                    },
                    "error": {
                      "type": "string",
                      "example": "Email already exists"
                    }
                  }
                }
              }
            }
          }
        }
      }
    
  },
  "components": {
    "schemas": {
      "User": {
        "type": "object",
        "properties": {
          "lastname": {
            "type": "string",
            "example": "Doe"
          },
          "firstname": {
            "type": "string",
            "example": "John"
          },
          "email": {
            "type": "string",
            "format": "email",
            "example": "john.doe@example.com"
          },
          "gender": {
            "type": "string",
            "example": "Male"
          },
          "address": {
            "type": "string",
            "example": "123 Main St, Anytown"
          },
          "dob": {
            "type": "string",
            "format": "date",
            "example": "1990-01-01"
          },
          "phoneNumber": {
            "type": "string",
            "example": "+1234567890"
          },
          "profileImg": {
            "type": "string",
            "format": "uri",
            "nullable": true,
            "example": "https://example.com/profile.jpg"
          },
          "isVerified": {
            "type": "boolean",
            "example": false
          },
          "role": {
            "type": "string",
            "example": "CLIENT"
          }
        }
      }
    }
  }

  }
}

